@import "tailwindcss";

@theme {
  
  /* Color Theme application */
  --color-primary-teal: #0d9488;
  --color-primary-teal-50:  #f0fdfa;
  --color-primary-teal-100: #ccfbf1;
  --color-primary-teal-200: #99f6e4;
  --color-primary-teal-300: #5eead4;
  --color-primary-teal-400: #2dd4bf;
  --color-primary-teal-500: #14b8a6;
  --color-primary-teal-600: #0d9488;
  --color-primary-teal-700: #0f766e;
  --color-primary-teal-800: #115e59;
  --color-primary-teal-900: #134e4a;
  --color-primary-teal-950: #042f2e;

  --color-primary-blue: #005daa;
  --color-primary-blue-50:  #f1f7fd;
  --color-primary-blue-100: #e0eef9;
  --color-primary-blue-200: #badcf2;
  --color-primary-blue-300: #7ebce7;
  --color-primary-blue-400: #389ad6;
  --color-primary-blue-500: #005daa;
  --color-primary-blue-600: #006eb5;
  --color-primary-blue-700: #005893;
  --color-primary-blue-800: #044b7a;
  --color-primary-blue-900: #093f66;
  --color-primary-blue-950: #062844;

  --color-accent-orange: #ea580c;
  --color-accent-orange-50:  #fff7ed;
  --color-accent-orange-100: #ffedd5;
  --color-accent-orange-200: #fed7aa;
  --color-accent-orange-300: #fdba74;
  --color-accent-orange-400: #fb923c;
  --color-accent-orange-500: #f97316;
  --color-accent-orange-600: #ea580c; 
  --color-accent-orange-700: #c2410c;
  --color-accent-orange-800: #9a3412;
  --color-accent-orange-900: #7c2d12;
  --color-accent-orange-950: #431407;

  --color-neutral-slate: #1e293b;
  --color-neutral-slate-50:  #edf2f7;
  --color-neutral-slate-100: #e2e8f0;
  --color-neutral-slate-200: #cbd5e1;
  --color-neutral-slate-300: #b1bccd;
  --color-neutral-slate-400: #94a3b8;
  --color-neutral-slate-500: #64748b;
  --color-neutral-slate-600: #475569;
  --color-neutral-slate-700: #334155;
  --color-neutral-slate-800: #1e293b;
  --color-neutral-slate-900: #0f172a;
  --color-neutral-slate-950: #020617;

  --color-primary-rose: #bd5d4b;
  --color-primary-rose-50:  #fdf5f3;
  --color-primary-rose-100: #fae8e3;
  --color-primary-rose-200: #f4d3ca;
  --color-primary-rose-300: #e9b3a6;
  --color-primary-rose-400: #db8b79;
  --color-primary-rose-500: #cd6f5b;
  --color-primary-rose-600: #bd5d4b;
  --color-primary-rose-700: #9e4a3b;
  --color-primary-rose-800: #833f33;
  --color-primary-rose-900: #6d372e;
  --color-primary-rose-950: #3a1b15;

  --color-neutral-cream: #f7ede4;
  --color-neutral-cream-50:  #fdfaf6;
  --color-neutral-cream-100: #faf3ec;
  --color-neutral-cream-200: #f5e8db;
  --color-neutral-cream-300: #eed9c6;
  --color-neutral-cream-400: #e2c2a5;
  --color-neutral-cream-500: #d3a582;
  --color-neutral-cream-600: #c08a63;
  --color-neutral-cream-700: #a06e4a;
  --color-neutral-cream-800: #83593d;
  --color-neutral-cream-900: #6c4934;
  --color-neutral-cream-950: #3a2519;

  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}
